.m-100-top{
    margin-top: 100px;
}
.m-50-bt{
    margin-bottom: 50px;
}

.m-100-bt{
    margin-bottom: 100px;
}

.modal-abs{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.abs{
    position: absolute;
    top: 0px;
    width: 100vw;
    
}